.Statistics_container {
  border: 5px solid rgba(24, 12, 141, 0.448);
  border-radius: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.title {
  font-style: oblique;
  font-size: 50px;
  color: rgb(15, 0, 151);
  text-align: center;
  margin: 0;
}

.text {
  margin: 0;
  padding: 10px;
}
